@model DataAccess.Entity.AppUser
@{
    ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üyeliğinizi aktif hale getirmek için lütfen mail adresinizi kontrol ediniz..</h2>

